api/.bundle

# Ignore all logfiles and tempfiles.
/api/log/*
/api/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/api/tmp/pids/*
!/api/tmp/pids/
!/api/tmp/pids/.keep

# Ignore uploaded files in development.
/api/storage/*
!/storage/.keep
/api/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Ignore master key for decrypting credentials and more.
/api/config/master.key

# add
.idea/workspace.xml

# nuxt
/metal_front/node_modules/

